<?xml version="1.0"?>
<config>
    <modules>
        <bforward_RemoveDecimal>
            <version>0.1.0</version>
        </bforward_RemoveDecimal>
    </modules>
    <global>
        <helpers>
            <bforward_remove_decimal>
                <class>Bforward_RemoveDecimal_Helper</class>
            </bforward_remove_decimal>
        </helpers>
        <models>
            <bforward_remove_decimal>
                <class>Bforward_RemoveDecimal_Model</class>
            </bforward_remove_decimal>
            <directory>
                <rewrite>
                    <currency>Bforward_RemoveDecimal_Model_Directory_Currency</currency>
                </rewrite>
            </directory>
        </models>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <bforward_remove_decimal>
                    <files>
                        <default>Bforward_RemoveDecimal.csv</default>
                    </files>
                </bforward_remove_decimal>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <catalog>
            <removing_decimal>
                <enable_removing_decimal>0</enable_removing_decimal>
            </removing_decimal>
        </catalog>
    </default>
</config>